---
import Layout from "../layouts/Layout.astro";
import CarouselComponent from "../components/home/CarouselComponent.vue";
import SidebarComponent from "../components/home/SidebarComponent.vue";
import HeroCarouselCompoment from "../components/home/HeroCarouselComponent.vue";
import { type Ref, ref } from "vue";
import type { HeroGameCardContent } from "../interfaces/HeroGameCardContent";

const slides = ref([
  {
    id: 1,
    imagePath: "src/assets/images/zelda.png",
    gameTitle: `mesho 1`,
    gameStudio: "mesho games",
    releaseDate: "Remember bro",
  },

  {
    id: 2,
    imagePath: "src/assets/images/cyberpunk.png",
    gameTitle: `mesho 2`,
    gameStudio: "mesho games",
    releaseDate: "Remember br",
  },

  {
    id: 3,
    imagePath: "src/assets/images/zelda.png",
    gameTitle: `mesho 3`,
    gameStudio: "mesho games",
    releaseDate: "Remember bro",
  },
  {
    id: 4,
    imagePath: "src/assets/images/zelda.png",
    gameTitle: `mesho 4`,
    gameStudio: "mesho games",
    releaseDate: "Remember bro",
  },

  {
    id: 5,
    imagePath: "src/assets/images/zelda.png",
    gameTitle: `mesho 5`,
    gameStudio: "mesho games",
    releaseDate: "Remember bro",
  },

  {
    id: 6,
    imagePath: "src/assets/images/zelda.png",
    gameTitle: `mesho 6`,
    gameStudio: "mesho games",
    releaseDate: "Remember bro",
  },

  {
    id: 7,
    imagePath: "src/assets/images/zelda.png",
    gameTitle: `mesho 7`,
    gameStudio: "mesho games",
    releaseDate: "Remember bro",
  },
]);
const heroSlides: Ref<HeroGameCardContent[]> = ref([
  {
    gameTitle: "Lords of the fallen",
    gameStudio: "Hexworks",
    imageUrl: "src/assets/images/HeroImage.png",
  },
  {
    gameTitle: "Lords of the fallen",
    gameStudio: "Hexworks",
    imageUrl: "src/assets/images/HeroImage.png",
  },
  {
    gameTitle: "Lords of the fallen",
    gameStudio: "Hexworks",
    imageUrl: "src/assets/images/HeroImage.png",
  },
  {
    gameTitle: "Lords of the fallen",
    gameStudio: "	Hexworks",
    imageUrl: "src/assets/images/HeroImage.png",
  },
]);
---

<Layout title="Home">
  <main class="home-content flex flex-row overflow-hidden">
    <SidebarComponent client:load />
    <div class="content-container flex flex-col p-4 gap-4 h-full">
      <section class="carousel-section h-full h-min-[50rem]">
        <h1 class="section-title">Most Played</h1>
        <HeroCarouselCompoment cards={heroSlides.value} client:load />
      </section>
      <section class="carousel-section h-full">
        <h1 class="section-title">Spring 2024 Releases</h1>
        <CarouselComponent
          client:load
          cards={slides.value}
          cardType="horizontal"
        />
      </section>
      <section class="carousel-section h-full">
        <h1 class="section-title">Popular among reviewers</h1>
        <CarouselComponent
          client:load
          cards={slides.value}
          cardType="vertical"
        />
      </section>
    </div>
  </main>
</Layout>
<style scoped>
  .home-content {
    background: linear-gradient(351.22deg, #1a1a1a 55.25%, #2b2b2b 96.61%);
  }
</style>
